<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.teamwork.projects</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Teamwork</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.18.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>pendo-pairing</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pendo-3ae34815</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>telprompt</string>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LaunchDarklyMobileKey</key>
	<string>${LD_MOBILE_KEY}</string>
	<key>LaunchpadClientID</key>
	<string>${LAUNCHPAD_CLIENT_ID}</string>
	<key>LaunchpadClientSecret</key>
	<string>${LAUNCHPAD_CLIENT_SECRET}</string>
	<key>LaunchpadRedirectURI</key>
	<string>tw-mobile://auth</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera so you can attach photos.</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts so you can save contact details.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone so you can attach recordings.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save photos to your photo library so you can download pictures.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to the photo library so you can attach photos.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ClockInIntent</string>
		<string>ClockOutIntent</string>
		<string>CreatePersonalTaskIntent</string>
		<string>UpdateStatusIntent</string>
	</array>
	<key>PendoKey</key>
	<string>${PENDO_KEY}</string>
	<key>SentryDSN</key>
	<string>${SENTRY_DSN}</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>